@{
    ViewData["Title"] = "Home Page";
}
@model List<Member>


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-orange">
                Member List
            </h2>
        </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="text-primary">
                <th>
                    Name
                </th>
                <th>
                    Pension Reference Number
                </th>
                <th>
                    Target Retirement Age
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Retirement Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.FirstName @obj.LastName</td>
                    <td>@obj.PensionReferenceNumber</td>
                    <td>@obj.TargetRetirementAge</td>
                    <td>@obj.Gender</td>
                    <td>@obj.DateOfRetirement.ToShortDateString()</td>
                    <td>
                        <div class="btn btn-primary rounded">
                            <a asp-controller="Home" asp-action="View" asp-route-id="@obj.Id" class="mx-2 text-decoration-none text-white">
                                <i class="bi bi-eye"></i> View
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
