@{
    ViewData["Title"] = "View Page";
}
@model Member

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6 d-flex flex-row align-items-center py-2">
            <h2 class="text-orange">
                @Model.FirstName @Model.LastName
            </h2>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mx-2 rounded">
                Back to List
            </a>
        </div>
        <div class="border p-4">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.Gender" disabled>
                <label for="floatingInput"> @Html.DisplayNameFor(Model => Model.Gender)</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.PensionReferenceNumber" disabled>
                <label for="floatingInput"> @Html.DisplayNameFor(Model => Model.PensionReferenceNumber)</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.TargetRetirementAge" disabled>
                <label for="floatingInput"> Target Retirement Age</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.DateOfBirth.ToShortDateString()" disabled>
                <label for="floatingInput"> @Html.DisplayNameFor(Model => Model.DateOfBirth)</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" value="@Model.DateOfRetirement.ToShortDateString()" disabled>
                <label for="floatingInput">Date Of Retirement</label>
            </div>
        </div>
    </div>
</div>
